<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 配置包扫描器，扫描所有带@Service注解的类 -->
	<context:component-scan base-package="per.cr.spider.service" />
	<dubbo:application name="Spider-WebSpider" />
	<dubbo:registry protocol="zookeeper" address="192.168.134.133:2181" />
	<dubbo:reference interface="per.cr.spider.meituan.serivce.StreetService"
	id="streetService"></dubbo:reference>
	<dubbo:reference interface="per.cr.spider.meituan.serivce.FoodService"
		id="foodService"></dubbo:reference>
	<dubbo:reference interface="per.cr.spider.meituan.serivce.RegionService"
		id="regionService"></dubbo:reference>
	<dubbo:reference interface="per.cr.spider.meituan.serivce.ShopService"
		id="shopService"></dubbo:reference>
	<dubbo:reference interface="per.cr.spider.douban.service.MovieService"
		id="movieService"></dubbo:reference>

</beans>